{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../../static/css/color.css">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>色覚検査</h1>
    {% if question %}
        <form action="/color/check_answer" method="post">
            <p>問題：次の色は何色でしょうか？該当する色がない場合は一番近いと思う色を選んでください</p>
            <img class="color-image" src="{{ url_for('static', filename=question['question'] + '.png') }}" alt="{{ question['question'] }}">
            {% for option in question['options'] %}
                <input type="radio" name="user_answer" value="{{ option }}" required> {{ option }}
            {% endfor %}
            <input type="submit" value="次へ">
        </form>
    {% else %}
        <p>問題を開始するには以下のボタンをクリックしてください。</p>
        <a href="{{ url_for('index') }}">問題を開始する</a>
    {% endif %}
</div>
{% endblock %}
