<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>運転能力セルフチェッカー</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="../static/css/main.css" rel="stylesheet">
        {% block css %}

        {% endblock %}
        <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
        <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
        <link rel="manifest" href="/manifest.json">
        <script>
            if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register("/sw.js").then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
                });
            });
            }
        </script>
    </head>
    <body class="body-content">
    <header class="nav-color">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">運転能力チェッカー</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="header-image bi bi-person-circle" viewBox="0 0 16 16">
                    <a class="navbar-toggler-icon"  xlink:href="{{url_for('mypage')}}">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </a>
                </svg>
            </button>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
    <footer>
        <div class="footer">
            <div class="foot-container">
                <div class="foot-nav-container">
                    <div class="foot-bottun-container">
                        <a class="foot-bottun" tabindex="0"  href="{{ url_for('home') }}">
                            <svg class="foot-image" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="HomeIcon">
                                <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
                            </svg>
                            <span class="foot-nav">
                                <a class="foot-nav-font">トップ</a>
                            </span>
                            <span class="foot-area"></span>
                        </a>
                    </div>
                    <div class="foot-bottun-container">
                        <a class="foot-bottun" tabindex="0"  href="{{ url_for('index') }}">
                            <svg class="foot-image" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ColorLensIcon">
                                <path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"></path>
                            </svg>
                            <span class="foot-nav">
                                <a class="foot-nav-font">色覚検査</a>
                            </span>
                            <span class="foot-area"></span>
                        </a>
                    </div>
                    <div class="foot-bottun-container">
                        <a class="foot-bottun" tabindex="0"  href="{{ url_for('questionsIndex') }}">
                            <svg class="foot-image" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="SettingsAccessibilityIcon">
                                <path d="M20.5 4c-2.61.7-5.67 1-8.5 1s-5.89-.3-8.5-1L3 6c1.86.5 4 .83 6 1v12h2v-6h2v6h2V7c2-.17 4.14-.5 6-1l-.5-2zM12 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM7 24h2v-2H7v2zm4 0h2v-2h-2v2zm4 0h2v-2h-2v2z"></path>
                            </svg>
                            <span class="foot-nav">
                                <a class="foot-nav-font">知識問題</a>
                            </span>
                            <span class="foot-area"></span>
                        </a>
                    </div>
                    <div class="foot-bottun-container">
                        <a class="foot-bottun" tabindex="0"  href="{{ url_for('imageIndex') }}">
                            <svg class="foot-image" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="VideoCameraBackIcon">
                                <path d="M18 10.48V6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-4.48l4 3.98v-11l-4 3.98zM5 16l2.38-3.17L9 15l2.62-3.5L15 16H5z"></path>
                            </svg>
                            <span class="foot-nav">
                                <a class="foot-nav-font">動画分析</a>
                            </span>
                            <span class="foot-area"></span>
                        </a>
                    </div>
                    <div class="foot-bottun-container">
                        <a  class="foot-bottun" tabindex="0"  href="{{ url_for('reflexesIndex') }}">
                            <svg class="foot-image" focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="SchoolIcon">
                                <path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3 1 9l11 6 9-4.91V17h2V9L12 3z"></path>
                            </svg>
                            <span class="foot-nav">
                                <a class="foot-nav-font">反射神経</a>
                            </span>
                            <span class="foot-area"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>